*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ul, li{
    list-style: none;
    color: black;
}

.main{
    width: 100%;
    height: 100%;
    background-color: rgb(38, 198, 161);
    padding-bottom: 200px;
}

/* header */
.header{
    width: 100%;
    background-color: pink;
}

.header .top_header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .top_header .logo{    
}

.header .top_header .logo a img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.header .top_header .title_header h1{
    font-size: 40px;
    color: tomato;
}

.header .func_header{
    display: flex;
    gap: 15px;
    align-items: center;
}

.header .func_header .search{
    position: relative;
}

.header .func_header .search input{
    height: 30px;
    width: 230px;
    border-radius: 12px;
    padding: 5px 0px 5px 30px;
    font-size: 14px;
    color: brown;
    font-weight: 600;
}

.header .func_header .search i{
    position: absolute;
    font-size: 20px;
    top: 5px;
    left: 5px;
}

.header .func_header .login{
    background-color: tan;
    border-radius: 12px;
    padding: 5px;
}

.header .func_header .login i{
    font-size: 22px;
    color: teal;
}

.header .func_header .login span{
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
}

.header .func_header .cart{
    background-color: tan;
    padding: 5px;
    border-radius: 12px;
    position: relative;
}

.header .func_header .cart i{
    font-size: 22px;
}

.header .func_header .cart span{
    position: absolute;
    left: calc(100% + 2px);
    top: -10px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, .4);
}

/* nav_header */
.header .nav_header{
    width: 100%;
}
.header .nav_header .list_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px
}

.header .nav_header .list_nav .nav_item{
    position: relative;
}

.header .nav_header .list_nav .nav_item a{
    font-size: 20px;
    font-weight: 600;
    display: block;
}

.header .nav_header .list_nav .nav_item ul{
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    background-color: antiquewhite;
    opacity: 0;
    transition: .6s;
}

.header .nav_header .list_nav .nav_item ul li a{
    font-size: 20px;
    font-weight: 600;
    display: block;
    width: 100%;
    padding: 10px 5px;
    transition: .6s;
}

.header .nav_header .list_nav .nav_item ul li a:hover{
    background-color: tan;
    transition: .6s;
}

.header .nav_header .list_nav .nav_item:hover ul{
    opacity: 1;
    transition: .6s;
}


/* welcome */
.welcome{
    width: 80%;
    /* border: 1px solid black; */
    margin: 20px auto;
    background-color: bisque;
}

.welcome .welcome-content{
    text-align: center;
    padding: 40px 0px;
}

.welcome .welcome-content h1{
    font-size: 55px;
}

.welcome .welcome-content img{
    border-radius: 50%;
    padding: 20px 0;
    height: 200px;
    width: 200px;
}

.welcome .welcome-content h3 {
    font-size: 25px;
    color: rgb(66, 51, 51);
}

/* product */
.product{
    width: 80%;
    margin: 20px auto;
}

.product .product_title{
    font-size: 50px;
    color: brown;
}

.product .sale_products{
    display: flex;
    gap: 10px;
    width: 100%;
    border: 1px solid black;
    padding: 10px 10px;
    overflow-x: auto;
    height: 400px;
}

.product .sale_products .product_item{
    height: 100%;
    width: calc((100% - 40px) / 5);
    /* margin: 0px 10px; */
    border: 1px solid tan;
    border-radius: 12px;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
}

.product .sale_products .product_item a{
    display: block;
}

.product .sale_products .product_item img{
    height: 150px;
    width: 100px;
    border-radius: 12px;
}


.product .sale_products .product_item h1,
.product .sale_products .product_item img,
.product .sale_products .product_item p{
    margin: 8px 0;
}

.product .sale_products .product_item .func_product{
    
}

.product .sale_products .product_item .func_product input{
    width: 40px;
    height: 30px;
    font-size: 20px;
    color: #000;
    text-align: center;
}

.product .sale_products .product_item .func_product button{
    font-size: 15px;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}

.product .sale_products .product_item .func_product a{
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 12px;
}